@using LinuxPackages.Web.Mvc.ViewModels.Issues;

@(Html.Kendo()
    .Grid<ListedIssueViewModel>()
    .Name("RecentIssuesGrid")
    .Columns(columns =>
    {
        columns.Bound(i => i.Id).ClientTemplate(
            "<a href='" +
                Url.Action("Details", "Issues") + "/#= Id #" +
            "'>\\##= Id #</a>"
        ).Title("ID");
        columns.Bound(i => i.Package.Name).ClientTemplate(
            "<a href='" +
                Url.Action("Details", "Packages") + "/#= Package.Id #" +
            "'>#= Package.Name #</a>"
        ).Title("Package").Title("Package").Groupable(true);
        columns.Bound(i => i.OpenedOn).Title("Opened on").Format("{0:dd/MM/yyyy}").Groupable(true);
    })
    .DataSource(data =>
        data.Ajax().Read(r => r.Action("GetRecentIssues", "Home"))))