@using LinuxPackages.Web.Mvc.ViewModels.Issues;

@(Html.Kendo()
    .Grid<ListedRecentIssuesViewModel>()
    .Name("RecentIssuesGrid")
    .Columns(columns =>
    {
        columns
            .Bound(i => i.Id)
            .ClientTemplate("<a href='" + Url.Action("Details", "Issues") + "/#= Url #" + "'>\\##= Id #</a>")
            .Title("ID")
            .HeaderHtmlAttributes(new { style = "text-align: center;" });

        columns
            .Bound(i => i.ShortenedTitle)
            .Title("Title")
            .HeaderHtmlAttributes(new { style = "text-align: center;" });

        columns
            .Bound(i => i.ShortenedPackageName)
            .ClientTemplate("<a href='" + Url.Action("Details", "Packages") + "/#= PackageId #" + "'>#: ShortenedPackageName #</a>")
            .Title("Package")
            .HeaderHtmlAttributes(new { style = "text-align: center;" });
    })
    .DataSource(data =>
        data.Ajax().Read(r => r.Action("GetRecentIssues", "Home"))))