@{
    ViewBag.Title = "Home";
}

<img src="~/Content/images/tux.png" class="img-responsive center-block" />
<h1 class="text-center site-title">LinuxPackages</h1>
<hr/>
<div class="row">
    <div class="col-lg-4">
        <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-archive fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content dark-blue">
                <div class="circle-tile-description text-faded"> Packages</div>
                <div class="circle-tile-number text-faded ">265</div>
                <a class="circle-tile-footer" href="#">All<i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading dark-gray"><i class="fa fa-male fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content gray">
                <div class="circle-tile-description text-faded">Maintainers</div>
                <div class="circle-tile-number text-faded ">15</div>
                <a class="circle-tile-footer" href="#">All<i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading yellow"><i class="fa fa-exclamation-triangle fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content yellow">
                <div class="circle-tile-description text-faded"> Issues </div>
                <div class="circle-tile-number text-faded ">10</div>
                <a class="circle-tile-footer" href="#">All<i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4 text-center">
            <h4>Most downloaded</h4>
        </div>
        <div class="col-md-4 text-center">
            <h4>Top maintainers</h4>
        </div>
        <div class="col-md-4 text-center">
            <h4>Recently added</h4>
        </div>
    </div>
</div> 