@model int

@{ 
    var list = (IEnumerable<SelectListItem>)ViewData["List"];
}

<div class="form-group">
    @Html.LabelForModel(new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @(Html.Kendo().DropDownList()
                      .Name(ViewData.ModelMetadata.GetDisplayName())
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .BindTo(list)
                      .HtmlAttributes(new { style = "width: 20%" }))
    </div>
</div>