@model string

<div class="form-group">
    @Html.LabelForModel(new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => Model, new { @class = "k-textbox", style = "width: 30%" })
        @Html.ValidationMessageFor(m => Model, "", htmlAttributes: new { @class = "text-danger" })
    </div>
</div>