body {
color: #333333;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.full-width {
    width: 100%;
}

.k-multiselect, .k-upload, .k-widget, .k-grid {
    border: none;
}

table.k-editor {
    border: 1px solid #ddd;
}

.issue-rating {
    font-size: 18px;
}

span.glyphicon-thumbs-up {
    font-size: 1.2em;
}

span.glyphicon-thumbs-down {
    font-size: 1.2em;
}