body {
color: #333333;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.full-width {
    width: 100%;
}

.k-multiselect, .k-upload, .k-widget, .k-grid {
    border: none;
}

table.k-editor {
    border: 1px solid #ddd;
}

.issue-rating {
    font-size: 18px;
}

span.glyphicon-thumbs-up {
    font-size: 1.2em;
}

span.glyphicon-thumbs-down {
    font-size: 1.2em;
}

.thumbnail {
    padding:0px;
}

.panel {
	position:relative;
}

.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}

.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}

.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}